body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    display: flex;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-header{
    display: flex;
    flex: 1 1 auto;
}
.right-header{
    flex: 1 1 auto;
    justify-content: right;
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
.search-box{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 28px;
    border-radius: 15px;
    background-color: black;
    border: 1px solid dimgray;
    align-items: center;
    margin: 4% 0% 3% 0%;
}
.search-bar{
    background-color: black;
    border: none;
    width : 88%;
    margin-left: 5px;
}
.search-bar:focus{
    outline: none;
    caret-color: white;
}
.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}
.search-button{
    background-color: #2e2d34;
    color: lightgray;
    border: none;
    padding: 9px 16px;
    margin: 0% .75%;
}
#google-logo{
    max-width: 35%;
}
a{
    margin: 10px;
}

